<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">


    <h2>Broadcast Message</h2>
    <form method="post" action="/">
        <input type="text" name="message">
        <input type="submit" value="Submit">
    </form>

    <h2>Received Messages</h2>

    <p><% db %></p>

</div>

</body>
</html>
